# Firebase (consola → Configuración del proyecto → Tus apps → SDK de Firebase)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBze_j6tHW37qn4UhkGWZm03x5bHHW4jyE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=comunidad-7c6d4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=comunidad-7c6d4
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=comunidad-7c6d4.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=792327001885
NEXT_PUBLIC_FIREBASE_APP_ID=1:792327001885:web:e7ce6ad431e123509d33f4
