# Firebase (consola → Configuración del proyecto → Tus apps → SDK de Firebase)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBze_j6tHW37qn4UhkGWZm03x5bHHW4jyE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=comunidad-7c6d4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=comunidad-7c6d4
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=792327001885
NEXT_PUBLIC_FIREBASE_APP_ID=1:792327001885:web:e7ce6ad431e123509d33f4

# Cloudinary (Settings → Product environment credentials + Upload presets)
# Creá un preset "Unsigned" (Signing mode: Unsigned) y opcionalmente Folder: events
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=vl9o2al6
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=ml_default
